blinker==1.8.2
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.7
exceptiongroup==1.2.2
Faker==35.2.2
Flask==3.0.3
grpcio==1.70.0
grpcio-tools==1.70.0
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pillow==10.4.0
pluggy==1.5.0
protobuf==5.29.3
pytest==8.3.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scipy==1.10.1
six==1.16.0
threadpoolctl==3.5.0
tomli==2.0.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==4.0.2
Werkzeug==3.0.6
zipp==3.20.2
